.formContainer {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  background-color: rgb(223, 223, 223);
  padding: 4rem;
  border-radius: 5px;
  margin-top: 4rem;
}
.invalid {
  border: 1px solid rgba(171, 35, 35, 0.687);
  background-color: rgba(254, 66, 66, 0.187);
}

.errorM {
  color: rgba(171, 35, 35, 0.687);
  margin: 0;
}

.info p {
  margin: 0;

  color: rgba(171, 35, 35, 0.687);
}

.signIn {
  background-color: rgba(10, 104, 10, 0.803);
}
.signIn:hover {
  background-color: rgba(10, 104, 10, 0.646);
}
.create {
  background-color: rgba(242, 152, 55, 0.803);
}
.create:hover {
  background-color: rgba(242, 152, 55, 0.612);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 700px) {
  .formContainer {
    padding: 2rem 1rem;
    width: 90vw;
  }
  .info {
    max-width: 90%;
  }
}
