.formContainer {
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: rgba(10, 104, 10, 0.201);
    padding: 3rem;
    border-radius: 5px;
    margin-top: 3rem;
  }
  .invalid{
    border: 1px solid rgba(171, 35, 35, 0.687);
    background-color: rgba(254, 66, 66, 0.187);
}

.errorM{
  color:rgba(171, 35, 35, 0.687); 
  margin: 0;
}
.info{
  text-align: center;
}
.info p {
  margin: 0;
  font-size: 1rem;
  color:rgba(171, 35, 35, 0.687); 
}

.back{
  background-color: rgba(10, 104, 10, 0.803);
}
.back:hover{
  background-color: rgba(10, 104, 10, 0.646);
}
.create{
  margin-left: 5px;
  background-color: rgba(242, 152, 55, 0.803);
}
.create:hover{
  background-color: rgba(242, 152, 55, 0.612);
}

.back{
    margin-left: 5px;
    background-color: rgba(171, 35, 35, 0.81);
  }
  .back:hover{
    background-color: rgba(171, 35, 35, 0.639);
  }

  .invalid{
    border: 1px solid rgba(171, 35, 35, 0.687);
    background-color: rgba(254, 66, 66, 0.187);
}